
.footer__heading
{

    text-align: center;
    margin: 30px auto 10px;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-style: italic;
}
.footer__sub__heading
{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 20px;
}
.footer__content{
    display: flex;
    margin-left: 250px;
}
.fa-location-dot, .fa-phone, .fa-envelope{
    color:#af5779;
}
.icon__list
{
    margin: 30px 0 20px 0;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    max-width: 500px;   
}
.footer__form
{
    margin: 30px 100px 30px 30%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 450px;
    font-size: 1.3rem;
}
.input__name__email
{
    display: flex;
}
.input__name{

    font-size: 1.2rem;
    width: 50%;
    margin: 0 20px 10px 0;
    height: 40px;
    border: 1px solid #ccc;
    
}
.input__email{

    font-size: 1.2rem;
    width: 50%;
    margin: 0 0 10px 0;
    height: 40px;
    border: 1px solid #ccc;
}
.input__message{
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
}
.button{
    /* background-color: rgb(206, 81, 36); */
    text-align: right;
}
.send__button{
  background-color: #db84a6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.send__button:hover,
.send__button:focus {
  background-color: #F082AC;
}
